@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.ttf');
    font-display: swap;
}

:root {
    --ls-dark-purple: #661F76;
    --ls-light-purple: #865FC5;
    --ls-light-blue: #3FC6EE;
    --ls-grey-1: #101010;
    --ls-grey-2: #202020;
    --ls-grey-4: #404040;
    --ls-grey-8: #808080;
    --ls-grey-13: #d0d0d0;
    --ls-grey-15: #f0f0f0;
    --ls-sidebar-bg: var(--ls-grey-15);
    --ls-sidebar-text: var(--ls-grey-1);
}

[data-bs-theme=dark] {
    --bs-body-bg: var(--ls-grey-2); /* Override bootstrap */
    --ls-sidebar-bg: var(--ls-grey-1);
    --ls-sidebar-text: white;
}

    /*
        It's terrible that I have to do this, bootstrap seems to only provide one variable
       --bs-body-bg that is used for the background colour for all html, body tags as well as inputs fields.
    */
    [data-bs-theme=dark] .accordion,
    [data-bs-theme=dark] .accordion-item,
    [data-bs-theme=dark] .accordion-header,
    [data-bs-theme=dark] .accordion-button,
    [data-bs-theme=dark] .form-control,
    [data-bs-theme=dark] .form-select,
    [data-bs-theme=dark] .form-floating,
    [data-bs-theme=dark] .form-control label::after,
    [data-bs-theme=dark] .form-floating label::after {
        background-color: var(--ls-grey-2) !important;
    }

html, body {
    font-size: 14px;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
}

main {
    flex: 1;
    overflow: auto;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/* Scrollbars */
#scroll-container {
    flex: 1;
    overflow-y: auto;
    border-radius: var(--bs-border-radius);
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb {
    background-color: var(--ls-grey-13);
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: var(--ls-grey-8);
    }

[data-bs-theme=dark] ::-webkit-scrollbar-thumb {
    background-color: var(--ls-grey-4);
}

    [data-bs-theme=dark]
    ::-webkit-scrollbar-thumb:hover {
        background-color: var(--ls-grey-8);
    }

/* Navs */
#sidebar {
    background-color: var(--ls-sidebar-bg);
    color: var(--ls-sidebar-text);
}

    #sidebar .sidebar-image {
        height: 30px;
    }

    #sidebar a {
        color: var(--ls-sidebar-text);
    }

/* Forms */
.slider-container > .slider {
    width: 100%;
}

.slider-container > label {
    width: 50px;
    text-align: center;
}

.form-floating > textarea.form-control {
    height: 100px;
}

.input-control-wrapper {
    padding: 0;
    border-radius: 20px;
    display: flex;
}

    .input-control-wrapper .unload {
        padding-inline: 10px;
        padding-top: 3px;
        cursor: pointer;
    }

    .input-control-wrapper i {
        font-size: 25px;
        padding-inline: 10px;
        padding-top: 3px;
        cursor: pointer;
    }

#input {
    border: 0;
    outline: 0;
    padding: 10px;
    padding-inline: 20px;
}

/* Session content */
.entry {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
}

    .entry .signature, .entry .entry-date {
        color: #808080;
        font-size: 0.9em;
        font-style: italic;
    }

    .entry .content, .entry .signature {
        padding-left: 5px;
        margin-left: 50px;
    }

    .entry .entry-header .participant {
        font-weight: bold;
        font-size: 1.4em;
        padding-bottom: 5px;
    }

        .entry .entry-header .participant .participant-icon {
            display: inline-block;
            width: 50px;
            text-align: center
        }

        .entry .entry-header .participant .participant-name {
            display: inline-block;
        }

pre {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background-color: #efefef;
}


[data-bs-theme=dark] pre {
    border: 1px solid #444;
    background-color: var(--ls-grey-1);
}

.session-parameters .input-group-text {
    font-size: 1em;
}

.session-parameters .btn-primary {
    background-color: var(--ls-dark-purple);
    border-color: var(--ls-light-purple);
}

.lead strong {
    color: var(--ls-light-blue);
}

@media (min-width: 992px) {
    .border-lg-start {
        border-left: var(--bs-border-width) solid var(--bs-border-color);
    }
}

@media (min-width: 1200px) {
    .bd-masthead h1 {
        font-size: 4rem;
    }
}
