@model IndexModel

@if (Model.Options.Models.Any())
{
    <form class="session-parameters">
        <div class="gap-3 mb-4">
            <p class="lead fw-normal">Use an existing model.</p>
            <div class="d-md-flex flex-row v-align-middle fs-5 gap-1">
                <div class="input-group w-100 mt-1">
                    @Html.LabelFor(m => m.SessionConfig.Model, new { @class = "input-group-text" })
                    @Html.DropDownListFor(m => m.SessionConfig.Model, new SelectList(Model.Options.Models, "Name", "Name"), new { @class = "form-select form-select-lg prompt-control", required = "required", autocomplete = "off" })
                </div>
                <a href="#" class="load btn btn-lg w-100 btn-primary text-nowrap mt-1">
                    Begin Session
                    <i class="bi bi-chat-square-text-fill ms-2 me-2"></i>
                </a>
            </div>
        </div>

        <div class="text-center mb-4">
            <p class="d-inline-flex">
                <a href="#" role="button" data-bs-toggle="modal" data-bs-target="#sessionOptionsModal">
                    More options
                </a>
            </p>
        </div>

        @{
            await Html.RenderPartialAsync("_SessionOptionsModal"); 
        }
    </form>
}
else
{
    <p>You don't have any models.</p>
}
