@model IndexModel

<div id="scroll-container" class="section-content p-1">
    <div class="d-flex flex-column mt-2">
        <div id="output-container" class="d-flex flex-column gap-1 p-1">
        </div>
    </div>

    <span class="form-control input-control-wrapper" style="display: none;">
        <span id="input" class="flex-grow-1 auto-size" contenteditable>Write hello world in c# using top-level statements.</span>
        <i class="bi bi-play" id="send" title="Send"></i>
    </span>
</div>
