@page

@model IndexModel

@Html.AntiForgeryToken()

<div class="d-flex flex-row w-100 h-100 overflow-hidden">

    @{
        await Html.RenderPartialAsync("_Sidebar");
    }

    <div class="container overflow-auto p-5">
            @{
                await Html.RenderPartialAsync("_Start");
            }
    </div>

</div>

@{
    await Html.RenderPartialAsync("_ChatTemplates");
}

@section Scripts {
    <script src="~/js/sessionconnectionchat.js"></script>
}
